header{
    /* ページのレイアウト */
    margin: 0 auto;
    background-color: rgba(170, 170, 170, 0.418);

    /* 上のバー */
    display: flex;
    justify-content: space-between;
    color: steelblue;
    font-size: xx-large;

    /* adobeのフォント */
    font-family: yusei-magic,sans-serif;
    font-weight: 400;
    font-style: normal;
}


header a {
    color: rgb(82, 165, 0);
    font-size: x-large;
}

.link-list{
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    list-style: none;
}