.slide {
    position: relative;
    width: 100%;
    padding-top: 42.8%;
    overflow: hidden;
    background-color: #00000000;
  }
  
  @keyframes slideshow {
    0% {
      opacity: 0;
    }
  
    10% {
      opacity: 1;
    }
  
    28% {
      opacity: 1;
    }
  
    38% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
    animation: slideshow 10s linear infinite;
  }
  
  .slide img:nth-child(2) {
    animation-delay: 7.0s;
   }
  
  .slide img:last-child {
    animation-delay: 3.5s;
  }