@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
  box-sizing: border-box;
}

/* body */
body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.2em;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-attachment: fixed;
  color: #fff;
}

/* header */
header {
  padding: 30px 4% 10px;
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
}

/* フッター */
footer{
  /* padding: 5px; */
  font-size: 5px;
  position:  absolute;
  bottom: 0;
}

/* h1に対して */
h1 {
  font-family: 'DotGothic16', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

/* h2に対して */
h2 {
  margin: 0;
  /* font-size: 30px; */
  font-weight: normal;
}

/* aに対して */
a {
  text-decoration: none;
  color: #fff;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.title-visual {
  padding: 10px 5% 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-visual {
  padding: 10px 10% 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: whitesmoke;
}

.con-nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.sp-nav {
  display: none;
}

@media screen and (max-width: 640px) {
  .pc-nav {
    display: none;
  }
  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
  }
  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
  }
  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }
  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }
  /*スマホメニュー*/
  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp-nav li {
    margin: 0;
    padding: 0;
  }
  .sp-nav li span {
    font-size: 15px;
    color: #fff;
  }
  .sp-nav li a,
  .sp-nav li span {
    display: block;
    padding: 20px 0;
  }
  /*-閉じるアイコンー*/
  .sp-nav .close {
    position: relative;
    padding-left: 20px;
  }
  .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }
  .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
  }
  .toggle {
    transform: translateY(0);
    opacity: 1;
  }
  .main-visual {
    padding: 0 4%;
  }
  h2 {
    line-height: 1.6;
    text-align: center;
  }
}

article {
  width: 80%;
  margin: 0 auto;
  line-height: 1.3em;
  text-align: center;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}